html, body {
    margin: 0;
    padding: 0;
    /*font-family: "Century Gothic", Verdana, Arial, sans-serif;*/
    font-family: sans-serif;

}

table th {
    padding: 5px 5px 5px 5px;
    border: 1px solid #666666;

}

#content-2-2 th {
    color: #000000;
    background-image: linear-gradient(#f8c034, #d79c08);
}

#content-2-2 td {
    padding: 4px 4px 4px 4px;
}

#content-2-2 tr:nth-child(odd) { background-color: #666666;color: #fafafa;}
#content-2-2 tr:nth-child(even){ background-color: #999999;color: #fafafa;}

/*Eltons ProfilePartial View*/
.profileView {
    width : 40vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.profileView .content-wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: #f8c034;
    border-radius: 6px;
    color: #3e5667;
    padding: 10px 80px 10px 80px;
}

.profileView hgroup.title h1, .profileView hgroup.title h2 {
    color: #fff;
}

.profileView div {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
}
#content-1 {
    float:left;
    width:23vw;
    height: 100%;
}
#content-2 {
    float:right;
    width:46vw;
}
#main {
    width: 70vw;
}
#content-2-1 {
    float:left;
    width:23vw;
}
#content-2-2 {
    float:right;
    width:23vw;
}

#buyRequests {
    float: right;

}

#wrapper {
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

#header {
    height: 75px;
    display: flex;
}

#logo {
    height: 75px;
    width: 300px;
    padding-left: 10px;
    min-width: 300px;
    background-color: #daa520;
    background-image: linear-gradient(#f8c034, #d79c08);
    border-top-left-radius: 6px;
    background-repeat: repeat-x;
    float: left;
    background-repeat: no-repeat;
}

.logo {
    height: 75px;
    width: 300px;
}

#headerend {
    height: 75px;
    background-repeat: repeat-x;
    background-color: #daa520;
    background-image: linear-gradient(#f8c034, #d79c08);
    border-top-right-radius: 6px;
    width: 100%;
    float: left;

}
#navigation {
    padding-bottom: 0;
}

#nav {
    height: 50px;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 1px #777;
    background-repeat: repeat-x;
    margin:0;
    padding:0;
    list-style: none;
    font-size: 1.2em;
}

#nav, #nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav:before,
#nav:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom: 1;
}


#nav li {
    float: right;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#nav a{
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;

}


#nav li:hover > a {
    color: #fafafa;
}

/*IE6 only*/
*html #nav li a:hover {
    color: #fafafa;
}

#nav ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;
    background: #444;
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, .3);
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#nav li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#nav ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6*/
    box-shadow: -1px 0 0 rgba(255, 255, 255, .3);
}


#nav ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#nav ul li:last-child {
    box-shadow: none;
}

#nav ul a {
    padding: 10px;
    width: 130px;
    _height: 10px; /*IE6*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;

}

#nav ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#nav ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#nav li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#nav ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#nav ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

#nav ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}

#nav ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}

#contentWrapper {
    /*float: right;*/
    clear: none;
    padding-left: 10px;
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0;
    min-height: 79vh;
    min-width: 600px;
    background-image: linear-gradient(#999999, #666666);
}

#content {
    /*border: 1px solid #999999;*/
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    margin-left: 15vh;
    margin-right: 15vh;
    min-height: 79vh;
    min-width: 600px;
    background-image: linear-gradient(#ffffff, mintcream);
}


#footer {
    margin: 0;
    height: 50px;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 1px 1px #777;
    background-repeat: repeat-x;
    padding-top: 5px;
    color: #999;
}
/*****************/
/*Profile CSS Begin*/
/*****************/
.ProfileHead {
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    width: 100px;
}
.FloatingContainer {
    width: 1100px;
    float: right;
}
div .userInfo {
    width: 150px;
    float: left;
    border: 1px;
    border-color: black;
}

.center {

    margin-left: auto ;
    margin-right: auto ;
    text-align: center;
    float: none;
}
#middle
{
    position:relative;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom:auto;
    height: 556px;
    width:500px;
    margin:0px auto;
    text-align:left;
    border:1px dashed #333;
    background-color:#FFFFFF;
}

.profileContainer
{
    Width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:#FFFFFF;
    text-align:center;
    padding-top:20px;
}
.profile
{
    color:#000000;
    float:right;
    height:300px;
    width:540px;
}

.memberPic
{
    float:left;
    height:110px;
    width:110px;
}

#ProfileBuyingDiv
{
    text-align:center;
    font-weight:normal;
    color:#000000;
    line-height: 309px;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:20px;
    font-family:impact, sans-serif;
    line-height:1;
    list-style-type: none;
    background-color:#d79c08;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;

}
#ProfileSellingDiv
{
    text-align:center;
    font-weight:normal;
    color:#000000;
    line-height: 309px;
    letter-spacing:1pt;
    word-spacing:2pt;
    font-size:20px;
    font-family:impact, sans-serif;
    line-height:1;
    list-style-type: none;
    background-color:#d79c08;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
}
#ProfileSellingDiv ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}
#ProfileBuyingDiv ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}
#ProfileInfoDiv
{
    text-align:center;
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    font-size:20px;
    font-family:impact, sans-serif;
    line-height:1;
    list-style-type: none;
    background-color:#d79c08;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    width:250px;
    margin-left: 220px;
    margin-top: 40px;
    margin-bottom:-40px;
    height:130px;
}
#ProfileInfoDiv ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}

#space
{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}


/*****************/
/*Profile CSS End*/
/*****************/

/**************************/
/*Profile Create CSS begin*/
/**************************/
#PCMiddle
{
    margin-left:auto;
    margin-right:auto;
    background-color:#d79c08;
    text-align:center;
    padding-top:20px;
    -moz-border-radius: 1em 1em 1em 1em;
    border-radius: 1em 1em 1em 1em;
    width:300px;
    height: 250px;
    font-weight:normal;
    color:#000000;
    letter-spacing:1pt;
    font-size:20px;
    font-family:impact, sans-serif;

}

#Message
{
    width:400px;
    height:30px;
    background-color: #daa520;
    background-image: linear-gradient(#f8c034, #d79c08);
    padding-top:5px;
    font-size: 1.2em;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

